html
{
    height: 100%;
}

body
{
    background-color: black;
}

table.rectangle
{
    background-color: grey;
    border-radius: 1em;
    
}

th
{
    font-size: 1.8em;
    padding-left: 2.3em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

h1
{
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
    color: white;
    font-size: 2.5em;
}

a.header:link, a.header:visited 
{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.dropbtn
{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: cursive;
}

.dropdown 
{
    position: relative;
    display: inline-block;
    margin-right: 3em;
}
  
  .dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content a.d
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  

  .dropdown-content a.d:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn 
{
      background-color: #d40a0a;
      color: #ffffff;
}

.ndropbtn
{
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    font-size: 1em;
    border: none;
}

.ndropdown 
{
    position: relative;
    display: inline-block;
    margin-right: 3em;
}
  
  .ndropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .ndropdown-content a.n
{
    color: black;
    text-decoration: none;
    display: block;
    font-size: medium;
    padding: 15%;
}
  

  .ndropdown-content a.n:hover {background-color: rgba(228, 0, 0, 0.836); color: white;}
  
  .ndropdown:hover .ndropdown-content {display: block;}

.gift
{
    display: block;
    margin-top: 3em;
}

.gift1, .gift2, .gift3
{
    display: inline-block;
    color: white;
    
    font-size: 2em;
}

.gift1
{
    margin-left: 5%;
}

.gift2, .gift3
{
    margin-left: 25%;
}

.gift3
{
    margin-right: 5%;
}

a.link:link, a.link:visited 
{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

