html
{
    height: 100%;
}

body
{
    background-image: url("background1.png");
}

table
{
    background-color: grey;
    border-radius: 1em;
    padding-left: 2em;
    margin-left: 2em;
    
}

.rectangle
{
    padding-left: 0em;
    margin-left: 0em;
}

th
{
    font-size: 1.8em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

h1
{
    padding-top: 2em;
    padding-bottom: 1.5em;
    padding-left: 12em;
}

p
{
    font-family: serif;
    font-size: large;
    padding-left: 2em;

}

a.header:link, a.header:visited 
{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.button
{
    margin-left: 20em;
    margin-top: 6em;
}

a.button:link, a.button:visited 
{
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1em;
}
  
  a.button:hover, a.button:active 
{
    background-color: red;
}




